<nav class="max-w-[1280px] mx-auto px-4 py-8">
  <div class="flex items-center justify-between">
    <h1 class="font-charm font-bold text-xl md:text-3xl cursor-default">Thomas Carlys</h1>

    <a
      href="https://en.wikipedia.org/wiki/Thomas_Carlyle"
      target="blank"
      class="w-28 md:w-36 py-2 px-4 flex items-center justify-between border border-black rounded-full hover:bg-black hover:text-white transition-colors"
    >
      <p class="whitespace-nowrap">Read More</p>
      <svg
        data-slot="icon"
        fill="none"
        stroke-width="1"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
        class="w-4 h-4"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"></path>
      </svg>
    </a>
  </div>
</nav>
